.Projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProjectCard {
    width: calc(100% / 2 - 40px);
}

.ProjectsCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.ProjectsCards img {
    max-width: 680px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.ProjectsTitle {
    font-family: TT Commons;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #27262D;
    margin-bottom: 90px;
}

.ProjectCard .title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #27262D;
    margin: 24px 0 8px;
}

.ProjectCard .subTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #838383;
    margin-bottom: 80px;
}

.ProjectsSubTitle .text {
    font-family: TT Commons;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 34%;
    color: #27262D;
}

.ProjectsSubTitle {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}

.ProjectsSubTitle svg {
    width: 26px;
    height: 26px;
    margin-left: 16px;
    transition: 400ms;
}

.ProjectsSubTitle:hover img {
    margin-left: 40px;
}

@media screen and (max-width: 1200px) {
    .ProjectsCards {
        justify-content: center;
    }

    .ProjectsTitle {
        text-align: center;
        margin-bottom: 70px;
    }

    .ProjectsSubTitle {
        margin-left: 220px;
    }
}

@media screen and (max-width: 900px) {
    .ProjectsCards img {
        max-width: 500px;
    }

    .ProjectCard {
        width: 60%;
    }
    .ProjectsCards {
        flex-direction: column;
    }

    .ProjectsSubTitle {
        margin-left: 134px;
    }

    .ProjectsSubTitle .text {
        font-size: 35px;
        line-height: 46%;
    }

    .ProjectCard .subTitle {
        margin-bottom: 37px;
        padding: 20px 0;
    }
    .ProjectsTitle {
        font-size: 67px;
    }
}

@media screen and (max-width: 400px) {
    .ProjectsCards img {
        max-width: 73%;
    }

    .ProjectsTitle {
        margin-bottom: 26px;
        font-size: 31px;
    }

    .ProjectCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ProjectsSubTitle {
        justify-content: flex-end;
        padding: 20px;
        align-items: center;
        background-color: #052b66;
        margin-left: 0px;
    }

    .ProjectsSubTitle .text {
        font-size: 24px;
        line-height: 0;
        color: white;
    }

    .ProjectsSubTitle svg {
        width: 16px;
        margin-left: 5px;
    }

    .ProjectsSubTitle svg path {
      fill: white;
    }

    .FirstBlock iframe {
        width: 360px;
    }
}

