.Projects {
    display: flex;
    align-items: center;
    justify-content: center;
 
}


.ProjectsCard {
    width: calc(100%/2-40px);
}
.ProjectsCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.ProjectsCards img {
    max-width: 680px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
   
}


.ProjectsTitle {
    font-family: TT Commons;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #27262D;
    margin-bottom: 90px;
}

.ProjectCard .title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #27262D;
    margin: 24px 0 8px;
}

.ProjectCard .subTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #838383;
    margin-bottom: 80px;
}

.ProjectsSubTitle .text {
    font-family: TT Commons;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: #27262D;
    
}

.ProjectsSubTitle {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    
    
}

.ProjectsSubTitle img {
    width: 26px;
    height: 26px;
    margin-left: 16px;
    transition: 400ms;
    
}
.ProjectsSubTitle:hover img  {
        margin-left: 40px;
}

@media screen and (max-width: 1200px) {
    .ProjectsCards {
        justify-content: center;
    }
       
    .ProjectsTitle {
        text-align: center;
    }

    .ProjectsSubTitle {
        margin-left: 10px;
    }
}

    @media screen and (max-width: 900px) {
    .ProjectsCards img {
        max-width: 400px;
    }  

    .ServicesDirection .name {
  
    font-size: 20px;
    line-height: 23px;
   } 

   .ServicesDirection {
    
    padding: 20px 0;
   
}

.ServicesDescription {
    padding: 90px 170px;
}     


}


