.workingForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.workingFormTitle {
    font-family: TT Commons;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 120%;
    color: #27262D;
}

.workingFormWrapper {
    display: flex;
    flex-direction: column;
   
}

.workingFormWrapper input {
    padding: 27px 0 ;
    margin-bottom: 40px;
    background: transparent;
    outline: none;
    color: white;
    border: none;
    border-bottom: 1px solid  #27262D;;
}


.workingFormWrapper input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #27262D;
}


.workingFormWrapper textarea::placeholder {

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #27262D;
     padding: 20px 0;
    box-sizing: border-box;
    resize: none;
    background: transparent;
    outline: none;
    height: 121px;

}

.workingFormWrapper textarea {

    margin-bottom: 40px;
    padding: 20px;
    box-sizing: border-box;
    resize: none;
    border: 1px solid  #27262D;
    background: transparent;
    outline: none;
    height: 170px;
    width: 100%;

}

.textAreaTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #27262D;
    padding-bottom: 18px;

}

.workingFormButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.workingFormButtonText {
    font-family: TT Commons;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: #27262D;
}

.workingFormButton img {
    margin-left: 16px;
    width: 26px;
    height: 26px;

}

.workingFormButton:hover img {
    margin-left: 30px;
    transition: 400ms;
    
}