.Services {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.ServicesTitle {
    font-family: TT Commons;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 120%;
    color: #27262D;
    margin-top: 200px;
}

.ServicesDescription {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #27262D;
    padding: 90px 0 90px 720px;
    height: auto;
    max-width: 680px;
}

.ServicesDirection {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #27262d26;
    padding: 40px 0;
    cursor: pointer;
}

.ServicesDirection:hover img {
    margin-left: 46px;
}

.ServicesDirection .name {
    font-family: InterBold;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #27262D;
    letter-spacing: 0.03em;
}

.ServicesDirection img {
    transition: 400ms;
    width: 26px;
    height: 26px;
    margin-left: 16px;
}

@media screen and (max-width: 1200px) {
    .ServicesTitle {
        text-align: center;
        margin-top: 50px;
    }

    .ServicesDescription {
        padding: 40px 130px;
    }

    .ServicesDirections {
        margin: 0 auto;
        width: 80%;
    }

    .Services {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 900px) {
    .ServicesTitle {
        font-size: 66px;
        line-height: 72%;
    }

    .ServicesDirection .name {
        font-size: 20px !important;
        line-height: 23px !important;
    }

    .ServicesDirection {
        padding: 20px 0;
    }

    .ServicesDescription {
        padding: 50px 109px;
    }
}

@media screen and (max-width: 400px) {
    .ServicesDescription {
        padding: 20px 11px;
        font-size: 10px;
    }

    .ServicesDirection .name {
        font-size: 10px !important;
        line-height: 12px !important;
    }

    .ServicesDirection img {
        width: 13px;
        margin-left: 6px;
    }

    .Services {
        margin-bottom: 40px;
    }

    .ServicesTitle {
        font-size: 48px;
    }
}