.header {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.header .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.fixedMenu {
    position: fixed;
    width: 100%;
    top: 0;
    background: #ffffff;
}

.header img {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 1200px) {
    .header .contentWrapper {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .FirstBlockName img {
        width: 500px;
    }
}



