.FirstBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}
.FirstBlockName img {
    margin: 120px 0;
 }

.FirstBlockName  {
    margin-bottom: 90px;
    border-bottom: 1px solid #27262D;;
}
.FirstBlockHeader {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.FirstBlockSubTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 0;
    color: #27262D;
    text-transform: uppercase;
    margin-right: 10px;
    transition: 400ms;
}


.FirstBlockHeader:hover .FirstBlockSubTitle {
    margin-right: 30px;
}



.FirstBlockGeneral {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    ;
}

@media screen and (max-width: 1200px) {
    .FirstBlockGeneral {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .FirstBlockHeader {
        margin-bottom: 30px;
    }

    .FirstBlockName img {
        margin-left: 10px;
    }
       
   
    }

    @media screen and (max-width: 900px) {
                  
        .FirstBlock iframe{
            display: block;
            width: 400px;
            height: 225px;
    }      

        .FirstBlock {
        margin-bottom: 100px                    
    }
}  