.servicesPageItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 0;
}

.servicesPageTitle {
    font-family: TTNormsBold;
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #27262D;
    padding: 120px 0;
}

.wrapperTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardDescriptionWrapper .title {
    font-family: InterBold;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #27262D;
    margin: 40px 0 80px 0;

}

.cardDescriptionWrapper .description {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #27262D;
    margin-bottom: 90px;
    padding-right: 55%
}

.cardDescriptionWrapper .direction {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #27262D;
    padding: 17px 0;
    border-bottom: 1px solid rgba(39, 38, 45, 0.15);

}

.cardDescriptionWrapper img {
    margin-bottom: 170px;
}

.servicesPageItem .card img {
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.servicesPageItem .card {
    position: relative;
}

@media screen and (max-width: 1200px) {
    .cardDescriptionWrapper {
        width: 80%;
        order: 2;

    }

    .servicesPageItem .card img {
        position: static;
        order: 1;
        width: 80px;
        transform: none;

    }

    .cardDescriptionWrapper img {
        margin-bottom: 40px;
    }


    .cardDescriptionWrapper .description {
        padding-right: 25%;
        margin-bottom: 25px;
    }

    .servicesPageTitle {
        padding: 50px 0;
        text-align: center;
    }

}

@media screen and (max-width: 900px) {
    .cardDescriptionWrapper .description {
        padding-right: 0%;
    }

    .servicesPageItem {
        margin: 30px 0;
    }
}

@media screen and (max-width: 600px) {
    .cardDescriptionWrapper .title {
        font-size: 22px;
        margin: 20px 0 20px 0;
    }

    .cardDescriptionWrapper .description {
        font-size: 10px;
    }

    .cardDescriptionWrapper .direction {
        font-size: 12px;
        line-height: 16px;
        padding: 7px 0;
    }

    .servicesPageItem {
        margin: 0;
    }

    .servicesPageTitle {
        padding: 70px 0 30px;
    }
}

@media screen and (max-width: 400px) {
    .servicesPageTitle {
        font-size: 58px;
    }

    .servicesPageItem .card img {
        width: 60px;
    }

    .cardDescriptionWrapper .title {
        font-size: 18px;
        line-height: 23px;
    }

    .cardDescriptionWrapper .description {
        line-height: 110%;
    }

    .cardDescriptionWrapper img {
        margin-bottom: 10px;
    }

    .card {

        margin-bottom: 30px;
    }
}