.ourProjects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
    width: 100%;
}

.cardsWrapper {
    margin-bottom: 200px;
}

.ourProjectTitle {
    font-family: TTNormsBold;
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #27262D;
    margin: 208px 0;
}

.card .WrapperDescripton:nth-child(odd) {
    margin-right: 40px;
}

.card .WrapperDescripton:nth-child(even) {
    margin-left: 40px;
}

.WrapperDescripton .title {
    font-family: TTNormsBold;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 115%;
    color: #27262D;
    padding-bottom: 40px;
}

.WrapperDescripton .subTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #27262D;
    padding-bottom: 40px;
}

.WrapperDescripton .linkWrapper {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    cursor: pointer;
}

.WrapperDescripton .linkWrapper .link {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FF371C;
    transition: 400ms;
}

.WrapperDescripton .linkWrapper .link:hover {
    margin-right: 30px;
}

.WrapperDescripton .linkWrapper img {
    width: 13px;
    height: 13px;
    margin-left: 10px;
}

.WrapperDescripton .path {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #27262D;
}

@media screen and (max-width: 1200px) {

    .cardsWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .card {
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-bottom: 70px;
    }

    .WrapperDescripton .title {
        font-size: 35px;
        text-align: center;
        padding-top: 10px;
    }

    .ourProjectTitle {
        text-align: center;
        padding: 0px 80px;
        margin: 80px auto 60px;
    }

    .card .WrapperDescripton {
        order: 2;
        padding: 0 80px;
    }

    .card .WrapperDescripton:nth-child(odd) {
        margin-right: 0px;
    }

    .card .WrapperDescripton:nth-child(even) {
        margin-left: 0px;
    }
}

@media screen and (max-width: 900px) {

    .ourProjectTitle {
    font-size: 70px;
    }

}